.bf-announcement--slideup {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 0 0px 20px #777;
}

.bf-announcement--slideup .close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  line-height: 1;
  cursor: pointer;
  padding: 12px;
}
